body {
  background-color: #008;
  font-family: Arial;
}

body.red {
  background-image: url('images/redback.jpg');
  background-color: #f00;
}

body.green {
  background-image: url('images/greenback.jpg');
  background-color: #0f0;
}

h2 {
  color: #fff;
}

button.game {
  width:200px;
  height:50px;
  border: 3px solid #fff;
  color: #fff;
  background-color: #003;
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: #888;
  color: #fff;
  opacity: 0.5;
  text-align: center;
  font-size: 48px;
  position: absolute;
}

#overlay.hidden {
  display:none;
}

#overlay.visible {
  display:block;
}

#games {
  border-bottom: 1px solid white;
}

.joinable {
  margin-bottom: 24px;
  font-size: 18px;
}

.creatable {
  margin-top: 24px;
}

.joinable input[type=text],
.creatable input[type=text],
.joinable input[type=password] {
  margin-right: 12px;
  margin-left: 24px;
  height:36px;
  padding-left: 12px;
  padding-right: 12px;
}

.joinable button,
.creatable button {
  height: 42px;
  width: 96px;
}

.header, .footer {
  text-align: center;
  margin-bottom: 12px;
  color: #fff;
  margin: 8px auto 8px auto;
}

.pill {
  width:24px;
  height:24px;
  border-radius: 24px;

  display: inline-block;
}

.pill.green {
  border: 1px solid #0f0;
}

.pill.red {
  border: 1px solid #f00;
}

.pill.green.filled {
  background-color: #0f0;
}

.pill.red.filled {
  background-color: #f00;
}

.board {
    width: 671px;
    margin: auto;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

.square {
  width: 60px;
  height: 60px;
  display: inline-table;
  text-align: center;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.square span {
  line-height:8px;
  font-size:8px;
}

.square.red {
  background-color: #faa;
}

.square.gray {
  background-color: #ccc;
}

.square.green {
  background-color: #afa;
}

.square.target {
  background-color: #555;
}

.placeholder {
  visibility:hidden;
  width:8px;
  height:8px;
}

.unit {
  width: 36px;
  height: 36px;
  border: 1px solid #000;
  border-radius: 18px;
  
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  margin: auto;
  box-shadow: 4px 4px 1px 1px #444;
}

.next .unit {
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 12px;

  display:block;
  box-shadow: none;
}

.unit.red {
  color: #000;
  background-color: #f00;
}

.unit.gray {
  color: #ccc;
  background-color: #000;
}

.unit.green {
  color: #000;
  background-color: #0f0;
}

.fire {
  background-image: url(images/fire.png);
  background-size: 36px 36px;
}

.water {
  background-image: url(images/water.png);
  background-size: 24px 36px;
  background-position: center;
  background-repeat: no-repeat;
}

.earth {
  background-image: url(images/earth.png);
  background-size: 36px 36px;
}

.air {
  background-image: url(images/air.png);
  background-size: 36px 36px;
}

.obstacle {
  background-image: url(images/obstacle.png);
  background-size: 36px 36px;
}

.source {
  background-image: url(images/source.png);
  background-size: 36px 36px;
}
