<div id="game-creation-container" [class]="visibility()">
    <form id="game-creation-form">
        <label id="game-creation-gameName-label" for="game-creation-gameName-input">Game Name</label>
        <input id="game-creation-gameName-input" name="game-creation-gameName-input" type="text" [(ngModel)]="gameName" />
    
        <label id="game-creation-gamePassword-label" for="game-creation-gamePassword-input">Game Password</label>
        <input id="game-creation-gamePassword-input" name="game-creation-gamePassword-input" type="text" [(ngModel)]="gamePassword" />
    </form>
    <button class="metal-button" (click)="createGame()">Create</button>
    <button class="metal-button" (click)="close()">Close</button>
</div>
<div id="game-creation-overlay" [class]="visibility()" (click)="close()">
</div>
