<div id="game-creation-overlay" class="popup-overlay" [style.display]="visibility('grid')" (click)="close()">
    <div id="game-creation-container" class="popup-container" [style.display]="visibility('inline-block')" (click)="$event.stopPropagation()">
        <form id="game-creation-form">
            <div class="popup-form-content">
                <div class="popup-form-two-col">
                    <label id="game-creation-gameName-label" for="game-creation-gameName-input">Game Name</label>
                    <input id="game-creation-gameName-input" name="game-creation-gameName-input" type="text"
                        [(ngModel)]="gameName" />
                </div>
                <div class="popup-form-two-col">
                    <label id="game-creation-gamePassword-label" for="game-creation-gamePassword-input">Game Password</label>
                    <input id="game-creation-gamePassword-input" name="game-creation-gamePassword-input" type="text"
                        [(ngModel)]="gamePassword" />
                </div>
                <div>
                    <button class="metal-button metal-button-first" (click)="createGame()">Create</button>
                </div>
                <div>
                    <button class="metal-button" (click)="close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>