.grid {
    display: flex;
    flex-flow: nowrap;
}

.grid-cell-primary {
    flex: 3;
}

.grid-cell-secondary {
    flex: 1;
}

.lobby {
    margin: auto;
    display: block;

    background-image: url(/assets/border.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-color: rgba(51, 51, 51, .8)    /*  40% opaque green */
}

.list {
    padding: 24px;
    text-align: center;
}

.actions {
    text-align: center;
    padding: 24px;
}