.unit-under-candidate,
.candidate-over-unit,
.candidate,
.unit {

    &.fire {
        &.red {
            background-image: url(/assets/fire-chaos.png);
        }
        &.green {
            background-image: url(/assets/fire-order.png);
        }
    }

    &.earth {
        &.red {
            background-image: url(/assets/earth-chaos.png);
        }
        &.green {
            background-image: url(/assets/earth-order.png);
        }
    }

    &.water {
        &.red {
            background-image: url(/assets/water-chaos.png);
        }
        &.green {
            background-image: url(/assets/water-order.png);
        }
    }

    &.air {
        &.red {
            background-image: url(/assets/air-chaos.png);
        }
        &.green {
            background-image: url(/assets/air-order.png);
        }
    }

    &.source {
        &.red {
            background-image: url(/assets/source-chaos.png);
        }
        &.green {
            background-image: url(/assets/source-order.png);
        }
    }

    &.obstacle {
        background-image: url(/assets/obstacle.png);
    }
  }

.candidate {
    transform: translate(50%, 50%);
}

.candidate-over-unit {
    transform: translate(50%, -150%);
}

.unit-under-candidate {
    opacity: 0.5;
}