<div *ngIf="any">
    <p>Captured last move:</p>
    <div *ngFor="let capture of turn?.green?.captures" class="captured">
        <app-board-unit 
            *ngIf="capture?.unit" 
            [unit]="capture?.unit"
            [size]="size">
        </app-board-unit>
    </div>

    <div *ngFor="let capture of turn?.red?.captures" class="captured">
        <app-board-unit 
            *ngIf="capture?.unit" 
            [unit]="capture?.unit"
            [size]="size">
        </app-board-unit>
    </div>
</div>
<div *ngIf="!any">
    <p>No pieces were captured on last move</p>
</div>