.grid {
    display: flex;
    flex-flow: nowrap;
}

.grid-cell-primary {
    flex: 3;
}

.grid-cell-secondary {
    flex: 1;
}

.header {
    margin: auto;
    display: block;

    /*
    background-image: url(/assets/border.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-color: rgba(51, 51, 51, .8)    
    */
}