.popup-form-content {
    display:grid;
    grid-template-columns: 50% 50%;
}

.popup-form-two-col {
    grid-column-start: 1;
    grid-column-end: 3;
    place-self: center;
}

.button-wrapper {
    padding: 0.25em;

    .metal-button {
        width: 100%;
        margin: 0;
    }
}

label,
input[type=text] {
    font-size: 1.5em;
    display:block;
}

label {
    margin-bottom: 0.5em;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  margin-bottom: 3em;
}

input[type=text] {
    margin-bottom: 1.5em;
    text-align: center;
}