.elementarium-app {
    background-color: black;
    background-image:url(/assets/universe-horizontal.png);
    background-position: center;
    background-size: cover;
    color: white;

    height: 100%;
}