.elementarium-app {
    background-color: black;
    background-image:url(/assets/universe-horizontal.png);
    background-position: center;
    background-size: cover;
    color: white;

    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}