<div class="grid">
    <div class="grid-cell-secondary">
    </div>
    <div class="grid-cell-primary">
        <div class="content"
            [style.width.px]="boxWidth"
            [style.height.px]="boxHeight"
            [style.background-size]="boxWidth + 'px ' + boxHeight + 'px'">

            <div class="format1" *ngIf="currentRoute === '/story'">
                <h1>Story</h1>
                <p>In the furthest reaches of imagination, a world unlike any other awaits discovery. This is Elementarium, a realm where the eternal struggle between Order and Chaos unfolds, as they wield the primal forces of fire, water, earth, and air to sway the fate of this enigmatic land.</p>
                <p>Upon entering Elementarium, visitors are greeted by a mesmerizing vista that showcases the powerful dance of elemental forces. The land is divided into two opposing territories, governed by Order and Chaos, whose influence over the elements shapes the landscape and defines the character of the inhabitants.</p>
                <p>The dominion of Order, known as the Harmonious Sanctum, is a testament to the beauty of balance and unity. Elemental forces coexist here in perfect equilibrium, their energies harnessed to create a realm of breathtaking splendor. Majestic mountains cradle tranquil lakes, while verdant forests sway gently under cerulean skies. The air is rich with the scent of blossoming flowers and the soothing song of flowing streams. The inhabitants of this land, known as the Ordinari, are disciplined and wise, devoted to maintaining the delicate balance of the elements.</p>
                <p>In stark contrast, the realm of Chaos, called the Entropic Abyss, is a land of untamed wildness and unpredictability. Here, the elements collide and clash in a maelstrom of raw energy, as the forces of fire, water, earth, and air constantly vie for dominance. Jagged mountains are ripped apart by cataclysmic eruptions, only to be reshaped by torrential floods and raging tempests. The skies above the Entropic Abyss churn with ever-changing hues, mirroring the chaos that reigns below. The denizens of this realm, the Chaotari, are a passionate and unpredictable people, driven by the primal forces that govern their world.</p>
                <p>Each faction in Elementarium commands the elemental forces in their own distinct way. The Ordinari channel the power of the elements through intricate rituals and carefully crafted artifacts, weaving spells that bring harmony and stability to the land. In contrast, the Chaotari harness the elements in a wild, unrestrained manner, unleashing their fury in devastating storms and eruptions that reshape the landscape with every clash.</p>
                <p>As the eternal conflict between Order and Chaos rages on, the world of Elementarium is in a constant state of flux. The borderlands between the two realms, known as the Fractured Expanse, are particularly volatile, as the elements collide and merge in a dazzling display of nature's raw power. It is here that the Ordinari and Chaotari engage in epic battles, each seeking to tip the balance in their favor and assert their influence over Elementarium.</p>
                <p>Step into the world of Elementarium, and bear witness to a place where Order and Chaos wage an unending battle for supremacy, using the very essence of nature itself as their weapons. This is a realm where the balance of power is forever shifting, where elemental forces shape not only the landscape but the very souls of those who call it home.</p>
            </div>
            <div class="format1" *ngIf="currentRoute === '/rules'">
                <h1>What is this game about</h1>
                <p>Elementarium is a board game where two players play against each other by moving units of different types. The moves are made simultaneously and hidden from each other, maximum 3 moves per turn, one move per unit per turn. After the moves are targeted on both sides, the moves are revealed and the clashes resolved. Unless one of the players has won, the next turn begins.</p>
                <p>You can win the game by either capturing all enemy units or by dissolvштп the enemies' Source. If no pair of units of the same type exists on any side, the game is drawn.</p>
                <h1>Basic mechanics</h1>
                <p>The game features some mechanics on how the units interact with each other on the board. This mechanics include Movement, Capturing, Spawning and the Source. In the next sections they're explained in detail.</p>
                <h2>Board</h2>
                <p>The board is a 11x11 board. The bottom 4 rows are the allied territory, the top 4 rows are the territory of your enemy. The 3 rows in between are considered neutral. On the left and right side of the neutral territory there are some obstacles which can't be removed.</p>
                <img src="assets/howto/board.png" />
                <h2>Units</h2>
                <p>There are five types of units in this game. Four unit types representing the elemental forces: Air, Earth, Fire, Water. And one unit is the Source. Each of the unit types has its own movement pattern. Units can't jump over other units and obstacles, except the Air unit type.</p>
                <div class="unit">
                    <img src="assets/air-order.png" />
                    <img src="assets/air-chaos.png" />
                    <span>Air</span>
                </div>
                <div class="unit">
                    <img src="assets/earth-order.png" />
                    <img src="assets/earth-chaos.png" />
                    <span>Earth</span>
                </div>
                <div class="unit">
                    <img src="assets/fire-order.png" />
                    <img src="assets/fire-chaos.png" />
                    <span>Fire</span>
                </div>
                <div class="unit">
                    <img src="assets/water-order.png" />
                    <img src="assets/water-chaos.png" />
                    <span>Water</span>
                </div>
                <div class="unit">
                    <img src="assets/source-order.png" />
                    <img src="assets/source-chaos.png" />
                    <span>Source</span>
                </div>
                <p>&nbsp;</p>
                <h2>Movement</h2>
                <p>You can move any unit once per turn according to their movement pattern by clicking on it and on the target field or by using drag&drop. You can move max 3 units per turn.</p>
                <h2>Capturing</h2>
                <p>When two units of you and your enemy land on the same field when the moves are revealed, a clash happens. Each unit type defeats one another type of units, gets defeated by one another type of units and is neutral to the third type of units and to the same type.</p>
                <p>When your unit defeats an enemy unit, the enemy unit gets captured and is removed from the board. When your unit gets defeated by an enemy unit, your unit gets captured and is removed from the board. In all other cases, both units get captured and are both removed from the board.</p>
                <p>The units are in total balance. Air defeats Earth. Earth defeats Water. Water defeats Fire. And Fire defeats Air.</p>
                <div class="clash">
                    <img src="assets/air-order.png" />
                    <img src="assets/howto/gt.png" />
                    <img src="assets/earth-chaos.png" />
                    <img src="assets/howto/gt.png" />
                    <img src="assets/fire-order.png" />
                    <img src="assets/howto/gt.png" />
                    <img src="assets/water-chaos.png" />
                    <img src="assets/howto/gt.png" />
                    <img src="assets/air-order.png" />
                </div>
                <h2>Spawning</h2>
                <p>By arranging your units in specific patterns on enemies' territory you can spawn new units. Arrange either 3 units of the same type or 3 units all of different types in a triangle pattern.</p>
                <p>When arranging 3 units of the same type, a unit of the same type is spawned.</p>
                <div class="spawn">
                    <img src="assets/howto/spawn-fire-start.png" />
                    <img src="assets/howto/arrow.png" />
                    <img src="assets/howto/spawn-fire-end.png" />
                </div>                
                <div class="spawn">
                    <img src="assets/howto/spawn-water-start.png" />
                    <img src="assets/howto/arrow.png" />
                    <img src="assets/howto/spawn-water-end.png" />
                </div>                
                <p>When arraning 3 units all of different types, a unit of the missing type is spawned.</p>
                <div class="spawn">
                    <img src="assets/howto/spawn-mix-start.png" />
                    <img src="assets/howto/arrow.png" />
                    <img src="assets/howto/spawn-mix-end.png" />
                </div>                
                <p>There is a special case where only 2 units of same type are needed to spawn a unit. In the upper left and right corners you need only two units to enclose the corner field and then a unit will spawn in the corner. Spawning with different types of units is not possible in the corner.</p>
                <div class="spawn">
                    <img src="assets/howto/spawn-corner-start.png" />
                    <img src="assets/howto/arrow.png" />
                    <img src="assets/howto/spawn-corner-end.png" />
                </div>                
                <p>Spawning can be prevented, when an enemy unit is on the spawning field or on adjacent fields to the spawn-structure.</p>
                <h2>Source</h2>
                <p>The Source is a special unit in this game. You only own one of it and it is the weakest and the most important piece at the same time. The Source can only move one field in any direction, it can only move on your allied territory. The Source always wins a clash. When any enemy unit is near the Source, the Source is blocked and can't move. When you spawn an element onto the Source, it gets dissolved and you win the game.</p>
                <div class="unit">
                    <img src="assets/source-order.png" />
                    <img src="assets/source-chaos.png" />
                    Source
                </div>
                <p>&nbsp;</p>
            </div>
            <div class="format1" *ngIf="currentRoute === '/howto'">
                <h1>How to start a game</h1>
                <p>Since the AI for this game is currently not finished yet, you'll need a bro who you want to play with/against. </p>
                <p>Go to the <a href="/">lobby</a> and click on "New Game". Give the game a name and a password (or take the provided one, but remember/copy it, because you won't be able to see it anymore) and click on "Create".</p>
                <p>Now find your game in the Game List and click on "Join as Green" (to play for Order) or "Join as Red" (to play for Chaos). Enter your name/nick and the password you copied/remembered earlier. Click on "Join". You'll see the board in its starting position.</p>
                <p>You opponent needs to join as well and you then can start playing.</p>
                <h1>How to make moves</h1>
                <p>You have 3 moves per turn. Simply click on a unit or drag it and you will see the fields where you can move it being highlighted. Click on the target field or drop the unit and the move is "targeted".</p>
                <p>When you're finished targeting your move, click on "Move!" and the moves are executed. From here on, they can't be undone. If you haven't clicked "Move" yet, you can undo your moves one by one by clicking on "Undo".</p>
                <p>If you see no chance to win, you can surrender by clicking on "Surrender". Warning! Currently there is no confirmation window, so you'll lose immediately after clicking.</p>
                <h1>Resuming the game</h1>
                <p>The url you see in the address bar of your browser can be used as a resume-link. Just navigate it with your browser and (unless it has already finished) you will continue right where you stopped playing.</p>
            </div>
            <div class="format1" *ngIf="currentRoute === '/privacy'">
                <h1>Privacy Policy</h1>
                <p>This website is a fully featured prototype for a board game called "Elementarium". It neither collects any private data nor sets any cookies. Only information about the current game you're playing is stored and the technical information (like your ip address) is used during the time you're on the website to keep the connection.</p>
                <p>For any information about this website, contact elementarium@it-as.eu</p>
            </div>
        </div>
    </div>
    <div class="grid-cell-secondary">
    </div>
</div>