.grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.left {
    text-align: right;

    .side-box {
        margin-left: auto;
        margin-right: 1em;
        text-align: center;
    }
}

.right {
    text-align: left;

    .side-box {
        margin-right: auto;
        margin-left: 1em;
    }
}

.side-box {
    background-color: rgba(51, 51, 51, .8);
    border: 4px solid #707070;
    width: fit-content;
    padding: 1em;
}

.hidden{
    display:none;
}
.show{
    display:block;
}

@media screen and (max-width: 1560px) {
    .grid {
        grid-template-columns: auto;
    }

    .grid-cell-primary {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .grid-cell-secondary.right {
        grid-row-start: 2;
        grid-row-end: 3;

        .side-box {
            width: auto;
            margin: auto;

            background-color: transparent;
            border: none;

            .metal-button {
                width: 100%;
                height: 3em;
                font-size: 1em;
                margin: 0;
                padding: 0.25em;
            }
        }

        .side-box > div {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-items: center;

            div {
                width: 90%;
            }
        }
    }

    .grid-cell-secondary.left {
        grid-row-start: 3;
        grid-row-end: 4;

        .side-box {
            width: auto;
            margin: auto;

            background-color: transparent;
            border: none;

            h2 {
                font-size: 1em;
            }
        }
    }
}