<div class="game-container background">
    <div class="grid">
        <div class="grid-cell-secondary">
            <p>Game Name: {{game?.name}}, Turn: {{game?.turn}}, Targets: {{game?.board?.targets.length}}</p>
        </div>
        <div class="grid-cell-primary">
            <app-board [board]="game?.board" [side]="side"></app-board>
        </div>
        <div class="grid-cell-secondary">
            <div *ngIf="!game?.winner">
                <div>
                    <button class="action-button" (click)="surrender()">Surrender</button>
                </div>
                <div>
                    <button class="action-button" [disabled]="history?.length === 0" (click)="undo()">Undo</button>
                </div>
                <div>
                    <button class="action-button" (click)="submit()">Move!</button>
                </div>
            </div>
            <div *ngIf="game?.winner">
                <div>
                    <button class="action-button" (click)="quit()">Quit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="game-information-container" [class.hidden]="!finished && !waiting">
    <div>
        <h1 *ngIf="finished && !waiting">{{outcome}}</h1>
        <h1 *ngIf="!finished && waiting">Waiting for opponent...</h1>
    </div>
    <div>
        <button *ngIf="!waiting" class="action-button" (click)="quit()">Quit</button>
    </div>
</div>
<div id="game-information-overlay" [class.hidden]="!finished && !waiting" (click)="close()">
</div>

