a.hidden {
    display: none;
}

.grid {
    display: flex;
    flex-flow: nowrap;
}

.grid-cell-primary {
    flex: 3;
    flex-grow: 1;
}

.grid-cell-secondary {
    flex: 1;
    flex-grow: 4;
}

.left {
    text-align: right;

    .side-box {
        margin-left: auto;
        margin-right: 1em;
        text-align: center;
    }
}

.right {
    text-align: left;

    .side-box {
        margin-right: auto;
        margin-left: 1em;
    }
}

.side-box {
    background-color: rgba(51, 51, 51, .8);
    border: 4px solid #707070;
    width: fit-content;
    padding: 1em;
}

.hidden{
    display:none;
}
.show{
    display:block;
}