<div id="game-deletion-container" [class]="visibility()">
    <form id="game-deletion-form">
        <label id="game-deletion-gameId-label" for="game-deletion-gameId-input">Game Id</label>
        <input id="game-deletion-gameId-input" name="game-deletion-gameId-input" type="text" [(ngModel)]="gameId" disabled="disabled"/>

        <label id="game-creation-gameName-label" for="game-creation-gameName-input">Game Name</label>
        <input id="game-creation-gameName-input" name="game-creation-gameName-input" type="text" [(ngModel)]="gameName" disabled="disabled"/>
    
        <label id="game-deletion-gamePassword-label" for="game-deletion-gamePassword-input">Game Password</label>
        <input id="game-deletion-gamePassword-input" name="game-deletion-gamePassword-input" type="text" [(ngModel)]="gamePassword" />
    
        <a href="javascript:void(0)"><i (click)="deleteGame()">Delete</i></a>
        <a href="javascript:void(0)"><i (click)="close()">Close</i></a>
    </form>
</div>
<div id="game-deletion-overlay" [class]="visibility()" (click)="close()">
</div>