<div class="entry">
    <h2>{{game?.name}}</h2>
    <p>{{playerInfo}}</p>
    <p *ngIf="game?.finished">Game finished</p>
    <p *ngIf="!game?.finished">
        <button class="metal-button" *ngIf="!getJoined(Side.Green)" (click)="openJoinGame(Side.Green)">Join As Green</button>
        <button class="metal-button" (click)="openDeleteGame()">Delete</button>
        <button class="metal-button" *ngIf="!getJoined(Side.Red)" (click)="openJoinGame(Side.Red)">Join As Red</button>
    </p>
</div>
<app-game-deletion [visible]="deleteGame" [gameId]="game?.gameId" [gameName]="game?.name" (closing)="closeDeleteGame()"></app-game-deletion>
<app-game-joining [visible]="joinGame" [gameId]="game?.gameId" [gameName]="game?.name" [side]="joinSide" (closing)="closeJoinGame()"></app-game-joining>
