<div 
    class="board-cell"
    [style.width.px]="size - 1"
    [style.height.px]="size - 1"
    [class.red]="territory === Side.Red && !field?.moveHere"
    [class.green]="territory === Side.Green && !field?.moveHere"
    [class.gray]="territory === Side.Gray && !field?.moveHere"
    [class.target]="field?.moveHere"
    [style.background-size.px]="size"
    (click)="onClick($event)"
    (dragover)="allowDrop($event)"
    (drop)="onDrop($event)">
    <app-board-unit 
        *ngIf="field?.current" 
        [unit]="field?.current" 
        [size]="size"
        (drag)="onDrag()">
    </app-board-unit>
    <app-board-unit *ngIf="candidate" [unit]="candidate" [size]="size/2"></app-board-unit>
</div>
