.board-cell {
    display: inline-block;
}

.clash {
    border: 0;
    border-radius: 50%;
    box-shadow: 3px 3px 3em  #FF5E13, inset 3px 3px 3em #FFA500 ;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0002);
}