<div 
    class="board-cell"
    [class.clash]="field.clashed"
    [style.width.px]="size"
    [style.height.px]="size"
    [style.background-size.px]="size"
    [style.background-image]="background"
    [style.transform]="rotation"
    (click)="onClick($event)"
    (dragover)="allowDrop($event)"
    (drop)="onDrop($event)">
    <app-board-unit 
        *ngIf="field?.current" 
        [unit]="field?.current"
        [size]="size"
        [relation]="unitRelation"
        (draggi)="onDrag()">
    </app-board-unit>
    <app-board-unit 
        *ngIf="candidate" 
        [unit]="candidate"
        [size]="size/2"
        [relation]="candidateRelation">
    </app-board-unit>
    <div 
        *ngIf="isTarget"
        [style.width.px]="size/4"
        [style.height.px]="size/4"
        [style.border-radius.px]="size/4"
        [style.background-color]="side"
        [style.transform]="targetTranslation">
    </div>
</div>
