.board {
    margin:auto;
    display:block;

    //border-left: 1px solid black;
    //border-top: 1px solid black;

    background-image: url(/assets/board.png);
    background-position: top left;
}

.board-line {
    display: block;
    margin: auto;
}
